<h2>Welcome to your Budget Trackr, <%= @account.name %></h2>

<p id="total_spend">Total spend: £<%= @total %></p>
<div id="budget">
<p>Budget: £<%= @account.budget %></p>
<p>You have £<%= @account.budget - @total.to_f %> left to spend this month!</p>

<% if  @total.to_i > @account.budget.to_i %>
 <%= "WARNING: You are over budget for this month!!" %>
 <% elsif @total.to_i == @account.budget.to_i %>
 <%= "You have reached your budget for this month!" %>
 <% else %>
 <%= "You are still on track." %>
<% end %>
</div>
