<h2>Welcome to Travel Money Trackr, <%= @account.name %></h2>

<p id="total_spend">Total spend this trip: £<%= @total %></p>
<div id="budget">
<p>Budget: <%= @account.amount_display(@account.budget) %></p>
<p>You have £<%= @account.budget - @total.to_f %> left to spend on your trip!</p>

<% if  @total.to_i > @account.budget.to_i %>
 <%= "WARNING: You are over budget for this trip!!!" %>
 <% elsif @total.to_i == @account.budget.to_i %>
 <%= "You have reached your budget for this trip!" %>
 <% else %>
 <%= "You are still on track." %>
<% end %>
</div>
