<h2>Spending on <%= @transactions.first.transaction_date %></h2>


<p id="spend_by_date">You spent: £<%= @transaction_spend  %></p>

<table id="date_spend_table">

  <th>Category</th>
  <th>Vendor</th>
  <th>Amount</th>
  <th>Comment</th>

  <% @transactions.each do |transaction| %>

  <tr>

    <td><%= transaction.category.name %></td>
    <td><%= transaction.vendor.name %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.comment %></td>


  </tr>

  <% end %>

</table>
