<form action="/transactions/<%= @transaction.id %>" method="POST">

  <label for="category-input">Category:</label>
  <select id="category-input" name="category_id">
    <% @categories.each do |category| %>
    <option <%= "selected" if @transaction.category_id == category.id %> value="<%= category.id %>"> <%= category.name %> </option>

    <% end %>

  </select>

  <label for="vendor-input">Vendor:</label>
  <select id="vendor-input" name="vendor_id">
    <% @vendors.each do |vendor| %>
    <option <%= "selected" if @transaction.vendor_id == vendor.id %> value="<%= vendor.id %>"> <%= vendor.name %> </option>

    <% end %>

  </select>

  <label for="amount-input">Amount:</label>
  <input id="amount-input" type="number" name="amount" value="<%= @transaction.amount %>">

  <label for="date-input">Date:</label>
  <input id="date-input" type="date" name="transaction_date" value="<%= @transaction.transaction_date %>" format="YYYY/MM/DD">

  <label for="comment-input">Comment:</label>
  <input id="comment-input" type="text" name="comment" value="<%= @transaction.comment %>">


  <input class="button--submit" type="submit" value="Update Transaction">
</form>
